<footer class=" text-center fixed-bottom container mb-3 ml-2 mr-2">
    <form>
        <div class="mb-3">
            <textarea class="form-control focus-ring focus-ring-success" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success"><i class="bi bi-send-fill"></i></button>
    </form>
</footer>

<!-- Auto-Resizing Script -->
<script>
    const textarea = document.querySelector('textarea');

    textarea.addEventListener('input', function () {
        // Reset the height to calculate new height properly
        this.style.height = 'auto';
        // Adjust the height according to the scroll height
        this.style.height = this.scrollHeight + 'px';
    });
</script>