<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success me-2 " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Data files
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">How to use this chatbot</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Click upload file to add pdf files</li>
                    <li class="list-group-item">Click list file on left side to see file data</li>
                    <li class="list-group-item">Type your message in text area</li>
                    <li class="list-group-item">Use @ to tag file, what you want to ask</li>
                    <li class="list-group-item">Click send or Enter to send message</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>